{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Tarea</title>
    <link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
  </head>
  <body>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'tasks:index' %}">Lista de Tareas</a></li>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="boton">Cerrar sesión</button>
          <li><a href="{% url 'user_detail' user.pk %}">Información del usuario</a></li>
        </form>
      </li>
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'signup' %}">Registro de usuario</a></li>
        <!-- Añadido -->
        {% endif %}
      </ul>
    </nav>
    </nav>
    <main>
      <div>
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>